<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hanium.bpc.nabi">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 지도 API -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 카메라 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <meta-data
        android:name="com.kakao.sdk.AppKey"
        android:value="92ecbbd04f4b4d44170e57b9a5edcfbe" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/nabi_icon_2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SpendActivity" />
        <activity android:name=".activity.TrafficActivity" />
        <activity android:name=".activity.WeatherActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.WeatherCalendar"   ></activity>
        <activity android:name=".activity.SearchTrafficActivity" />
        <activity android:name=".activity.MyPageActivity" />
        <activity android:name=".activity.TrafficItemActivity" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.LoginActivity" />

        <activity android:name=".activity.SignActivity" />

        <activity android:name=".activity.BookmarkActivity" />
        <activity android:name=".activity.SurroundingSearchActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.StationDetailActivity" />
        <activity android:name=".activity.BookInfoActivity" />
    </application>

</manifest>